@model BackOffice.Models.MessageModel

@{
    ViewBag.Title = "Edit";
}
@{
    string connect = string.Empty;
    if (Session["Connect"] == null)
    {
        connect = "Disconnect";
    }
    else
    {

        connect = Session["Connect"].ToString();

    }
}
@if (/*Request.IsAuthenticated*/connect.Equals("Connect"))
{
<h2>Edit</h2>


using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>MessageModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })        
       
        @Html.HiddenFor(model => model.Topic_id)            
        @Html.HiddenFor(model => model.Message_id)
        @Html.HiddenFor(model => model.Utilisateur_id)  

        @Html.Hidden("DateCrea", DateTime.Now.ToUniversalTime())

        <div class="form-group">
            @Html.LabelFor(model => model.ContenuMessage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContenuMessage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContenuMessage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
}
else
{
    Response.Redirect("/Account/Login");
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}